/* Add this to your global CSS */
nav li {
  position: relative;
}

nav li:hover span {
  width: 25% !important;
  height: 2px !important;
}

nav li.active span {
  width: 100% !important;
  height: 50% !important;
  background-color: #5a1d7a;
}

/* Custom cubic-bezier timing function */
.ease-in-out-cubic {
  transition-timing-function: cubic-bezier(0.4, -1, 0.2, -1);
}